/* CSS Reset */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    padding:0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
/* header-section */
header{
    background-color: #f0f0f0;
    width:100%;
   
    z-index: 999;
    display:flex;
    padding:12px 20px;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    border-bottom: solid orangered 4px;
   
}
.tablet-icons{
    margin: 15px;
    font-size: 20px;
    
    
}
.smooth{
    color:gray;
}
.mid-header{
    display: flex;
    justify-content: center;
}
.start-header{
    display:flex;
    align-items: center;;
}
.nav-container{
    display: flex;
    height: 16vh;
    background-color: #2C3E50;
    align-items: center;
    justify-content: space-between;
    color:white;
    padding: 0 90px;
}
.bootstrap-paragraph{
    font-size: 28px;
    font-weight: bold;
    
}
.nav-bar{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold; 
}

.nav-links{
    padding-right:40px;
}